<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--导入资源文件
import、 load、 js、 css-->
<!--import-->
<import file="js.bootstrap" type="js" />

<!--load-->
<load href="__PUBLIC__/js/jquery.js" />

<!--css-->
<css href="__PUBLIC__/css/bootstrap.css" />

<!--js-->
<js href="__PUBLIC__/js/bootstrap.js" />

<js href="__CND__/js/bootstrap.js" />	<!--参见config模板替换配置-->
<!--
一些默认的替换规则
__ROOT__
__APP__
__MODULE__
__CONTROLLER__
__ACTION__
__SELF__
__PUBLIC__
-->
