<!DOCTYPE html>
<html lang="">
<head>
	<include file="Public/head" />
</head>
<body>
<!--包含文件：include file="模板表达式/文件路径[,...]" key=value-->
<!--home="主页"include传递变量-->
<include file="Public/navbar" home="主页"/>
<div class="container">
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>default</strong> 默认主题
	</div>

	<table class="table table-hover">
		<tbody>
		<tr>
			<td>用户名</td>
			<!--变量方式-->
			<!--<td>{$user}</td>-->
			<!--数组方式-->
			<td>{$user.user|strtoupper}</td>
		</tr>
		<tr>
			<td>电子邮件</td>
			<td>{$user.mail|str_replace='13cloud', 'thirteen', ###|strtoupper}</td>
		</tr>
		<tr>
			<td>电子邮件php</td>
			<!--回归原声php:{:表达式}-->
			<td>{:strtoupper(str_replace('13cloud', 'thirteen_php', $user['mail']))}</td>
		</tr>
		<tr>
			<td>年龄</td>
			<!--使用运算符注意数学运算，点语法失效，需要用数组中括号的方式-->
			<td>{$user['age']-1}</td>
		</tr>
		<tr>
			<td>计算年龄</td>
			<!--使用函数，计算年龄-->
			<td>{$birthday_year|getAge}</td>
		</tr>
		<tr>
			<td>手机号码</td>
			<!--默认值输出:{$value='默认值'}-->
			<td>{$mobile|default='没有手机号码'}</td>
		</tr>
		<tr>
			<td>项目目录</td>
			<!--系统变量-->
			<td>{$Think.server.DOCUMENT_ROOT}</td>
		</tr>
		</tbody>
	</table>
</div>
	<include file="Public/js" />
</body>
</html>